%div{ class: "card card--#{ status } mbm" }

  %h2= link_to page, link

  %p{ class: ('mbf' unless note) }

    %strong Status:
    - if status == 'success'
      %span.tsi= data.config.success_status
    - elsif status == 'warning'
      %span.tsi= data.config.warning_status
    - else
      %span.tsi= data.config.error_status

  - if note
    %p.mbf= note
