%header.mbm
  %h2.mbf= section.titleize
  %ul.list.list--inline.tcs
    %li.list-item
      %strong= get_section_page_count(section)
      total pages
    %li.list-item.tcu
      %strong= get_section_page_count(section, 'success')
      = data.config.success_status.downcase
    %li.list-item.tcw
      %strong= get_section_page_count(section, 'warning')
      = data.config.warning_status.downcase
    %li.list-item.tce
      %strong= get_section_page_count(section, 'error')
      = data.config.error_status.downcase

